.body-product {
  height: 100vh;
  &__items {
    display: flex;
    padding-top: 69px;
    justify-content: space-between;
  }

  &__show {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__name {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding-top: 44px;
    margin-bottom: 12px;

    span {
      color: #034c75;
      font-weight: 500;
      font-style: italic;
      text-decoration: underline;
    }
  }

  &__props {
    list-style: disc;
    font-size: 18px;
    font-weight: 500;
  }

  &__img {
    position: relative;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-25px);
    }
  }

  &__moss {
    position: absolute;
    margin-left: -150px;
    margin-top: 400px;
  }
}

#hydration .body-product__bottle .body-product__bg {
  position: absolute;
  margin-top: 145px;
  margin-left: -65px;
}

#beenergy .body-product__bottle .body-product__bg {
  position: absolute;
  margin-left: -150px;
  margin-top: 60px;
  z-index: -1;
}

#detox .body-product__bottle .body-product__bg {
  position: absolute;
  margin-left: -100px;
  margin-top: -60px;
}

#goodnight .body-product__bottle .body-product__bg {
  width: 403px;
  position: absolute;
  margin-left: -106px;
  z-index: -2;
  margin-top: -60px;
}

.product-info {
  position: fixed;
  top: 0;
  right: -100%;
  width: 0%;
  height: 100%;
  background-color: white;
  z-index: 999;
  transition: right 0.3s ease;
}

@media (max-width: 725px) {
  .body-product {
    &__show {
      position: absolute;
      display: block;
      right: 20px;
      top: 15%;
      font-size: 16px;
      font-weight: 500;
      color: #bdbdbd;
      font-style: italic;
      border-bottom: 1px solid #bdbdbd;
    }

    &__items {
      flex-direction: column;
      padding-top: 20px;
    }

    &__item {
      padding-top: 20px;
      max-width: 92vh;
      overflow: hidden;
    }

    // &__bottle {
    //   max-height: 80vh;
    //   overflow: hidden;
    // }

    &__name {
      padding-top: 20px;
      font-size: 15px;
    }

    &__props {
      font-size: 14px;
    }
    &__props p br {
      display: none;
    }
  }

  #beenergy .body-product__bottle .body-product__bg {
    margin-left: -91px;
    margin-top: 173px;
    width: 370px;
  }
  #goodnight .body-product__bottle .body-product__bg {
    width: 363px;
    margin-left: -89px;
    margin-top: 0;
  }
}
