.body-product {
  height: 100vh;
  &__items {
    display: grid;
    padding-top: 3.3125vh;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.75rem;
  }
  &__toplink, &__toplink--item {
    display: none;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__name {
    color: #000;
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center;
    padding-top: 2.75rem;
    margin-bottom: 0.75rem;
    span {
      color: #034c75;
      font-weight: 500;
      font-style: italic;
      text-decoration: underline;
    }
  }

  &__props {
    list-style: disc;
    font-size: 1.125rem;
    font-weight: 500;
  }

  &__img {
    position: relative;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-1.5625rem);
    }
  }

  &__moss {
    position: absolute;
    margin-left: -9.375rem;
    margin-top: 25rem;
  }
}

#hydration .body-product__bottle .body-product__bg {
  position: absolute;
  margin-top: 9.0625rem;
  margin-left: -4.0625rem;
}

#beenergy .body-product__bottle .body-product__bg {
  position: absolute;
  margin-left: -9.375rem;
  margin-top: 3.75rem;
  z-index: -1;
}

#detox .body-product__bottle .body-product__bg {
  position: absolute;
  margin-left: -6.25rem;
  margin-top: -3.75rem;
}

#goodnight .body-product__bottle .body-product__bg {
  width: 25.1875rem;
  position: absolute;
  margin-left: -6.625rem;
  z-index: -2;
  margin-top: -3.75rem;
}

.product-info {
  position: fixed;
  top: 0;
  right: -100%;
  width: 0;
  height: 100%;
  background-color: white;
  z-index: 999;
  transition: right 0.3s ease;
}
@media (max-width: 1525px) {
  .body-product__items {
    column-gap: 0;
  }
}
@media(max-width: 1280px) {
  .body-product__items {
    padding-top: 0.3125vh;
  }
  .body-product__name {
    padding-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .body-product__props {
    font-size: 1rem;
  }
}
@media (max-width: 1220px) {
  .body-product__items {
    grid-template-columns: repeat(4, 25%);
  }
  .body-product__name {
    font-size: 1rem;
    padding-top: 0.75rem;
  }
}
@media (max-width: 1024px) {
  .body-product__items {
    display: flex;
    flex-direction: column;
    padding-top: 1.25rem;
    // overflow: hidden;
  }

  .body-product__item {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .body-product {
    &__show {
      position: absolute;
      display: block;
      right: 1.25rem;
      top: 15%;
      font-size: 1rem;
      font-weight: 500;
      color: #bdbdbd;
      font-style: italic;
      border-bottom: 1px solid #bdbdbd;
    }
    &__toplink {
      display: block;
      position: absolute;
      top: -5%;
      right: 0;
      font-size: 1rem;
      color: #bdbdbd;
      font-style: italic;
      border-bottom: 1px solid #bdbdbd;
    }
    &__toplink--item {
      display: block;
      position: absolute;
      right: 10%;
      top: 17%;
      font-size: 1rem;
      color: #bdbdbd;
      font-style: italic;
      border-bottom: 1px solid #bdbdbd;
      z-index: 3;
    }
    &__item {
      width: 100%;
      position: relative;
      height: 100vh;
      transition: transform .6s ease-in;
    }

    &__name {
      padding-top: 1.25rem;
      font-size: 0.9375rem;
    }

    &__props {
      font-size: 0.875rem;
    }
    &__props br {
      display: none;
    }
  }

  #beenergy .body-product__bottle .body-product__bg {
    width: 30.125rem;
  }
}
