.buy {
  &__inner {
    padding-top: 50px;
  }
  &__wrapper {
    margin-bottom: 42px;
    &-text {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    &-link {
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 277px;
      height: 104px;
      margin-right: 26px;
      img {
        max-width: 100%;
      }
    }

    &-img {
    }
    &-marketplaces {
      display: flex;
      align-items: center;
    }
  }
  &__info {
    font-size: 18px;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 200px;

    &-text {
      max-width: 430px;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 21px;
    }

    &-link {
      color: #000; 
      img {
        max-width: 100%;
      }
    }
  }

  &__disclaimer {
    margin-top: 43px;
    font-size: 41px;
    font-weight: 600;
    color: #e0e0e0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.16em;
  }
}
.buy__info-link.underline {
  text-decoration: underline;
}

@media (max-width: 725px) {
  .buy {
    &__info,
    &__disclaimer {
      display: none;
    }

    &__wrapper {
      &-marketplaces {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15px;
      }

      &-link {
        width: 165px;
        height: 71px;
      }
    }
  }
}
