.hair {
  color: #000;
  position: relative;
  height: 100vh;
  overflow: hidden;
  &__wrapper {
    display: flex;
    position: relative;
    padding-top: 2.875rem;
    height: calc(100vh - 12.5rem);
    &-img {
      max-width: 100%;
      padding-bottom: 3.563rem;
      width: 100%;
      height: 75vh;
      &--mobile {
        display: none;
      }
    }
    &-text {
      max-width: 22.5625vw;
      padding-top: 15vh;
      font-size: 1.375vw;

      &--mobile {
        display: none;
      }
    }
    &-text:nth-child(1) {
      position: absolute;
      left: 0;
    }
    &-text:nth-child(3) {
      position: absolute;
      right: 0;
    }
  }
}

@media (max-width: 1435px) {
  .hair {
    &__wrapper {
     
      &-text:nth-child(3) {
        position: absolute;
        right: 0%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .hair {
    &__wrapper {
      &-text {
        font-size: 2vw;
      }
    }
  }
}

@media (max-width: 844px) and (orientation: landscape) {
  .hair {
    &__wrapper {
      height: auto;
    }
  }
}

@media (max-width: 725px) {
  .hair {
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 1.875rem;
      &-text {
        max-width: none;
        font-size: 0.875rem;
        margin-bottom: 0.9375rem;
        padding-top: 0;
        &--mobile {
          display: block;
          font-size: 0.875rem;
          padding-left: 1.375rem;
          margin-bottom: 0.9375rem;

          li {
            list-style: disc;
            margin-bottom: 0.625rem;
          }
        }
      }
      &-text:nth-child(1),
      &-text:nth-child(3) {
        position: inherit;
        right: 0;
      }
      &-img {
        display: none;

        &--mobile {
          display: block;
          position: absolute;
          bottom: 0;
          width: 100vw;
          height: calc(100vh - 24.188rem);
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .hair__wrapper-img--mobile {
    height: 45vh;
  }
}
@media(min-width: 2040px) {
  .hair__wrapper-text {
    max-width: 17.5625vw;

    font-size: 1.1vw;
  }
}