.hair-product {
    position: relative;
   
    &--wrapper {
        display: flex;
        padding-top: 69px;
    }
}

@media(max-width:450px) {
    .hair-product {

        &--wrapper {
            flex-direction: column-reverse;
        }
    }
}