.hair-product {
  &--wrapper {
    display: flex;
    padding-top: 4.3125rem;
    align-items: flex-start;
  }

  &--img {
    max-width: 100%;
    height: calc(100vh - 20rem);
  }
}

@media (max-width: 1465px) {
  .hair-product--img {
    width: 50%;
  }
  .hair-product--info {
    width: 50%;
  }
}


@media (max-width: 724px) {
  .hair-product {
    &--wrapper {
      flex-direction: column-reverse;
      padding-top: 1.875rem;
      align-items: center;
    }

    &--img {
      width: auto;
      margin-top: 1rem;
      padding-bottom: 5rem;
    }

    &--info {
      width: 100%;
    }
  }
}



@media (max-width: 724px) {
  .item--wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.item--wrapper {
  position: relative;
  height: 100vh;
}