.hair {
  color: #000;
  position: relative;
  &__wrapper {
    display: flex;
    position: relative;
    padding-top: 120px;

    &-img {
      &--mobile {
        display: none;
      }
    }
    &-text {
      max-width: 361px;
      padding-top: 150px;
      font-size: 22px;

      &--mobile {
        display: none;
      }
    }
    &-text:nth-child(1) {
      position: absolute;
      left: 0;
    }
    &-text:nth-child(3) {
      position: absolute;
      right: 5%;
    }
  }
}

@media (max-width: 1435px) {
  .hair {
    &__wrapper {
      &-text {
        max-width: 280px;
        padding-top: 100px;
      }
      &-text:nth-child(3) {
        position: absolute;
        right: 0%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .hair {
    &__wrapper {
      &-text {
        max-width: 200px;
        padding-top: 0;
      }
    }
  }
}

@media (max-width: 450px) {
  .hair {
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      &-text {
        max-width: none;
        padding-top: 0;
        font-size: 14px;
        margin-bottom: 25px;

        &--mobile {
          display: block;
          font-size: 14px;
          padding-left: 22px;
          margin-bottom: 43px;
          li {
            list-style: disc;
            margin-bottom: 10px;
          }
        }
      }
      &-text:nth-child(1),
      &-text:nth-child(3) {
        position: inherit;
        right: 0;
      }
      &-img {
        display: none;

        &--mobile {
          display: block;
        }
      }
    }
  }
}
