.hero {
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    background-position: center center;
    height: 100vh;

    &__title {
        font-size: 4.375rem; /* 70px / 16px = 4.375rem */
        font-weight: 500;
        padding-top: 5.625rem; /* 230px / 16px = 14.375rem */
    }

    &__subtitle {
        font-weight: 500;
        font-size: 3.125rem; /* 50px / 16px = 3.125rem */
        margin-bottom: 2.375rem; /* 38px / 16px = 2.375rem */
    }

    &__descr {
        font-size: 1.625rem; /* 26px / 16px = 1.625rem */
        font-weight: 200;
        max-width: 46.6875rem; /* 747px / 16px = 46.6875rem */
        margin-bottom: 2.6875rem; /* 43px / 16px = 2.6875rem */
    }

    &__links {
        display: flex;
        // padding-bottom: 26.875rem;
        position: relative;
        z-index: 2;
    }

    &__link {
        color: #fff;
        backdrop-filter: blur(1.6875rem); /* 27px / 16px = 1.6875rem */
        font-weight: 400;
        font-size: 1.375rem; /* 22px / 16px = 1.375rem */
        border-radius: 1.3125rem; /* 21px / 16px = 1.3125rem */
        border: 0.0625rem solid #fff; /* 1px / 16px = 0.0625rem */
        margin-right: 2.875rem; /* 46px / 16px = 2.875rem */
        z-index: 1.25; /* 20 / 16 = 1.25 */
        position: relative;

        &-wrapper {}

        &:nth-child(1) {
            padding: 0.5625rem 3.5625rem; /* 9px / 16px = 0.5625rem, 57px / 16px = 3.5625rem */
        }

        &:nth-child(2) {
            padding: 0.5625rem 3.875rem; /* 9px / 16px = 0.5625rem, 62px / 16px = 3.875rem */
        }
    }

    &__product {
        position: absolute;
        bottom: 0;
        right: 0;

        &-mobile {
            display: none;
        }
    }
}

@media(max-width: 91.5625rem) { /* 1465px / 16px = 91.5625rem */
    .hero {
        &__product {
            width: 70%; /* 70px / 16px = 4.375rem */
        }

        &__title {
            font-size: 3.375rem; /* 54px / 16px = 3.375rem */
        }

        &__subtitle {
            font-size: 2.375rem; /* 38px / 16px = 2.375rem */
        }

        &__descr {
            max-width: 31.25rem; /* 500px / 16px = 31.25rem */
        }

        &__link {
            &:nth-child(1) {
                padding: 0.5625rem 2.25rem; /* 9px / 16px = 0.5625rem, 36px / 16px = 2.25rem */
            }
            &:nth-child(2) {
                padding: 0.5625rem 2.75rem; /* 9px / 16px = 0.5625rem, 44px / 16px = 2.75rem */
            }
        }
    }
}

@media(max-width: 69.0625rem) { /* 1105px / 16px = 69.0625rem */
    .hero {
        &__title {
            font-size: 2.5rem; /* 40px / 16px = 2.5rem */
            padding-top: 2.5rem; /* 180px / 16px = 11.25rem */
        }

        &__subtitle {
            font-size: 1.75rem; /* 28px / 16px = 1.75rem */
        }

        &__descr {
            max-width: 21.875rem; /* 350px / 16px = 21.875rem */
        }
    }
}
@media(max-width: 69.0625rem) and (orientation: landscape) {
    .hero {
        height: auto;
    }
}
@media (max-width: 49.0625rem) { /* 785px / 16px = 49.0625rem */
    .hero {
        background-image: url(../img/hero-bg-mobile.png);
        text-align: center;

        &__title {
            font-size: 2.0625rem; /* 33px / 16px = 2.0625rem */
            padding-top: 8.438rem; /* 102px / 16px = 6.375rem */
        }

        &__subtitle {
            font-size: 1.4375rem; /* 23px / 16px = 1.4375rem */
        }

        &__descr {
            font-size: 1rem; /* 16px / 16px = 1rem */
            max-width: fit-content;
        }

        &__links {
            flex-direction: column;
            margin: 0 auto;
            padding-bottom: 0;
        }

        &__link {
            margin-right: 0;
            font-size: 1rem; /* 16px / 16px = 1rem */
            margin-bottom: 1rem; /* 16px / 16px = 1rem */
        }

        &__product {
            display: none;

            &-mobile {
                display: block;
                width: 100%; /* 100px / 16px = 6.25rem */
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}