.production {
  padding-bottom: 252px;
  position: relative;
  height: 100vh;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/leaf-top.png);
    width: 241px;
    height: 142px;
    background-size: cover;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/leaf-bottom.png);
    width: 173px;
    height: 177px;
    right: 0;
    bottom: 0;
  }

  &__items {
    position: relative;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 18px;
    column-gap: 100px;
    font-weight: 400;
    overflow: hidden;
  }

  &__wrapper {
    &::after {
      position: absolute;
      content: "";
      background-image: url(../img/chevron-brown.png);
      width: 66px;
      height: 66px;
      top: 8%;
      margin-left: 210px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 44px;
    &-img {
      margin-bottom: 20px;
      position: relative;
    }

    &-list li {
      list-style: disc;
      margin-bottom: 12px;
    }

    

    &-step {
      background: linear-gradient(180deg, #cec9c5 0%, #948982 96.46%);
      font-size: 18px;
      padding: 9px 17px;
      position: relative;
      border-radius: 7px;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}
#button-right,
#button-left {
  display: none;
}
.step__wrapper:first-child {
  margin-bottom: 94px;
 &::after {
    content: "";
    position: absolute;
    background-image: url(../img/chevron-steps.png);
    width: 66px;
    height: 66px;
    left: 109px;
    top: 95px;
  }
}

@media(max-width:1460px) {
    .production__img {
        width: 60%;
    }
    .step__wrapper:first-child {

     &::after {
    
        left: 71px;

      }
    }
}

@media(max-width: 1140px) {
    .production__wrapper::after {
        margin-left: 150px;
    }

    .production__item-img {
        width: 70px;
        height: 70px;
    }

    .production__items {
        font-size: 16px;
    }
}
@media (max-width: 1024px) {
  .production {
    padding-bottom: 0px;
    &::after {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/body-top-mobile.png);
      width: 109px;
      height: 170px;
      top: 0;
      left: auto;
      right: 0;
    }
    &__img {
      display: none;
    }

    &__items {
      grid-template-columns: repeat(1, 350px);
      overflow: hidden;
      padding-top: 25px;
    }

    &__wrapper {
      margin-bottom: 40px;
    
      &::after {
        position: absolute;
        content: "";
        background-image: url(../img/chevron-down-brown.png);
        width: 45px;
        height: 28px;
        top: auto;
        margin-left: 160px;
      }
    }
    #button-right{
      display: block;
    }

    &__item {
      display: flex;
      font-size: 14px;
        margin-bottom: 0;
      &-img {
        width: 35px;
        height: 35px;
      }

      &-text {
        padding-left: 8px;
      }

      ul {
        margin-left: 20px;
      }

      ul li {
        margin-bottom: 5px;
      }

      &-steps {
        display: flex;
        align-items: center;
        transition: transform 0.3s ease;
        padding-top: 20px;
      }

      &-step {
        font-size: 14px;
        padding: 9px 12px;
        &:first-child::after {
          display: none;
        }
        &:first-child {
          width: 260px;
          height: 83px;
        }
        &:last-child {
          margin-top: 0px;
        }
      }
    }
  }
  .step__wrapper {
    margin-right: 10px;
    margin-bottom: 0;
    &:first-child {
        margin-bottom: 0;
    }
    img {
      margin-right: 10px;
      display: block;
    }
    &:last-child {
    }
    &:first-child::after {
      display: none;
    }
  }
}

@media(max-width: 671px) {
    #button-left {
        display: block;
    }
}

@media (max-width: 425px) {
  .production {
    &__item {
      &-text {
        width: 320px;
      }
    }
  }


  .production__item-steps.process__active {
    transform: translateX(-50%);
  }
}

#button-right,
#button-left {
  cursor: pointer;
}
