// @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {

  height: auto;
}
html, body {
  font-size: 16px;
}
// ::-webkit-scrollbar {
//   width: 0; /* Для Safari и Chrome */
// }

// ::-webkit-scrollbar-thumb {
//   background-color: transparent; /* Для Safari и Chrome */
// }

// ::-webkit-scrollbar-track {
//   background-color: transparent; /* Для Safari и Chrome */
// }

// /* Для Firefox */
// * {
//   scrollbar-width: none;
// }
body {
  font-family: "Raleway", sans-serif;
}
.container {
  width: 100%; 
  max-width: 89rem; 
  margin: 0 auto;
  padding-top: 8.75rem;
  padding-bottom: 3.75rem;
  height: 100vh;
  overflow: hidden;
}
.header__wrap {
  width: 100%; 
  max-width: 89rem; 
  margin: 0 auto; 
}

@media (max-width: 1465px) {
  .container, .header__wrap {
    width: 67.8125rem;
  }
}

@media (max-width: 1140px) {
  .container, .header__wrap {
    width: 61.75rem;
  }
}

@media (max-width: 1024px) {
  .container, .header__wrap {
    width: 45.125rem;

  }
}
.nav-scrolled a {
  color: black;
}

.nav-scrolled .header__btn{
  border: 1px solid #000;
}

.active-link {
  border-bottom: 1px solid #000;
}

.nav-scrolled .active-btn {
  background-color: #000;
  color:#fff;
}

@media(max-width: 725px) {
  .container, .header__wrap {
    width: auto;
    padding: 0 1.375rem;
  }
}
@media(max-width: 844px) and (orientation: landscape) {
  .container, .header__wrap {
    height: auto;
  }
}
