.video {
    position: relative;
    padding-bottom: 94px;

    &::after {
        content: "";
        position: absolute;
        background-image: url(../img/leafs-bg.png);
        bottom: 0;
        right: 0;
        width: 349px;
        height: 442px;
    }

    &__wrapper {
        padding-top: 44px;

        &-name {
            font-size: 26px;
            padding-top: 48px;
            font-weight: 400;
        }

        &-btn {

            img {
                display: flex;
                margin: 0 auto;
                padding-top: 98px;
            }
        }

    }
}


@media (max-width: 450px) {
    .video {

        &__wrapper {

            iframe {
                width: 346px;
                height: 193px;
            }

            &-name {
                font-size: 14px;
                margin-bottom: 250px;
            }

            &-btn {

                img {
                    position: absolute;
                    top: 75%;
                    left: 45%;
                    width: 30px;
                }
            }
        }

        &::after {

            left: 35%;
            right: auto;
            width: 260px;
        }
    }
}