.accordeon {
  &__item {
    border-top: 1px solid #000;
    padding: 30px 0 5px;
    &:last-child {
      border-bottom: 1px solid #000;
    }
  }

  &__title {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    width: 854px;
    cursor: pointer;
    img {
      transition: transform 0.3s ease;
    }
  }

  &__content {
    max-height: 0;
    padding-top: 25px;

    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    &-lists {
      display: flex;
    }
    ul li {
      list-style: disc;
      margin-left: 20px;
      max-width: 420px;
    }
    &-text {
      margin-bottom: 30px;
    }
  }

  &__works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 54px;
    row-gap: 48px;
    margin-bottom: 30px;
    &-item {
      display: flex;
    }

    &-img {
      align-self: start;
      margin-right: 20px;
    }

    &-text {
      font-size: 18px;
    }
  }
}
.accordeon__item.active .accordeon__title {
  font-weight: 600;
}
.accordeon__item.active .accordeon__title img {
  transform: rotate(90deg);
}
.accordeon__item.active .accordeon__content {
  max-height: 500px;
}

@media (max-width: 1465px) {
  .accordeon__title {
    width: auto;
  }

}

@media (max-width: 724px) {
  .accordeon {
    &__item {
      padding: 10px 0 5px;
    }
    &__title {
      font-size: 14px;
      font-weight: 600;
    }

    &__content {
      padding-top: 10px;
      &-text {
        font-size: 14px;
        margin-bottom: 15px;
      }

      &-lists ul li {
        font-size: 14px;
      }
    }

    &__works {
      grid-template-columns: repeat(1, 1fr);

      &-text {
        font-size: 14px;
      }
      &-img {
        width: 48px;
        height: 48px;
      }
    }
  }
}
