.title__wrapper {
    padding-top: 140px;

    span {
        font-size: 22px;
        color: #bdbdbd;
    }

    h2 {
        font-size: 32px;
        font-weight: 600;
    }
}

@media (max-width: 450px) {
    .title__wrapper {
        padding-top: 93px;
        h2 {
            font-size: 24px;
        }
    }
}